In [44]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv('./station_hour.csv')
# df = df.dropna(subset=['AQI'])
df = df[df['StationId'] == 'AP001']

datetime = df[['Datetime']]

df = df.drop(columns=['StationId', 'AQI_Bucket', 'Datetime'])

df.describe()

C:\Users\ACER\AppData\Local\Temp\ipykernel_17776\1908679733.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./station_hour.csv')

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,19233.000000,19420.000000,19410.000000,19475.000000,19532.000000,19405.000000,18548.000000,18882.000000,19414.000000,18930.000000,18933.000000,7443.000000,19377.000000
mean,38.500312,77.023635,4.416163,21.937516,15.220006,12.085325,0.618501,14.095015,38.172318,0.545580,1.876136,0.429472,95.599990
std,30.001719,49.955481,8.651561,23.078430,16.621633,6.648012,0.533871,12.947996,27.255413,5.785074,5.327772,6.030554,58.802652
min,0.250000,1.000000,0.030000,0.100000,0.000000,0.100000,0.000000,0.030000,0.600000,0.000000,0.000000,0.000000,20.000000
25%,16.000000,39.250000,1.450000,8.020000,6.050000,7.300000,0.350000,7.730000,19.100000,0.030000,0.150000,0.100000,53.000000
50%,28.500000,64.250000,2.220000,14.380000,9.820000,11.380000,0.540000,11.550000,31.850000,0.100000,0.680000,0.100000,78.000000
75%,54.750000,105.000000,3.880000,24.840000,17.150000,16.270000,0.750000,16.750000,49.415000,0.300000,2.050000,0.200000,124.000000
max,308.750000,559.250000,303.500000,198.050000,321.600000,197.970000,9.920000,195.000000,199.920000,278.870000,305.300000,274.800000,317.000000

In [46]:
df.isna().sum()

PM2.5       3551
PM10        3364
NO          3374
NO2         3309
NOx         3252
NH3         3379
CO          4236
SO2         3902
O3          3370
Benzene     3854
Toluene     3851
Xylene     15341
AQI         3407
dtype: int64

In [47]:
df.fillna(df.mean(), inplace=True)

In [48]:
df.isna().sum()

PM2.5      0
PM10       0
NO         0
NO2        0
NOx        0
NH3        0
CO         0
SO2        0
O3         0
Benzene    0
Toluene    0
Xylene     0
AQI        0
dtype: int64

In [49]:
df = pd.concat([datetime, df], axis=1)

In [50]:
df['Datetime'] = pd.to_datetime(df['Datetime'])

df.head()

,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
0,2017-11-24 17:00:00,60.50,98.00,2.35,30.80,18.25,8.50,0.1,11.85,126.40,0.1,6.10,0.10,95.59999
1,2017-11-24 18:00:00,65.50,111.25,2.70,24.20,15.07,9.77,0.1,13.17,117.12,0.1,6.25,0.15,95.59999
2,2017-11-24 19:00:00,80.00,132.00,2.10,25.18,15.15,12.02,0.1,12.08,98.98,0.2,5.98,0.18,95.59999
3,2017-11-24 20:00:00,81.50,133.25,1.95,16.25,10.23,11.58,0.1,10.47,112.20,0.2,6.72,0.10,95.59999
4,2017-11-24 21:00:00,75.25,116.00,1.43,17.48,10.43,12.03,0.1,9.12,106.35,0.2,5.75,0.08,95.59999

In [51]:
df.isna().sum()

Datetime    0
PM2.5       0
PM10        0
NO          0
NO2         0
NOx         0
NH3         0
CO          0
SO2         0
O3          0
Benzene     0
Toluene     0
Xylene      0
AQI         0
dtype: int64

In [52]:
df.fillna(df.mean(), inplace=True)

In [53]:
df.isna().sum()

Datetime    0
PM2.5       0
PM10        0
NO          0
NO2         0
NOx         0
NH3         0
CO          0
SO2         0
O3          0
Benzene     0
Toluene     0
Xylene      0
AQI         0
dtype: int64

In [54]:
df.to_csv("Processed_Dataset.csv")